<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <style>
        .body {
            font-family: "Segoe UI";
            padding: 50px;
        }

        .card { 
          border: 1px solid rgb(210, 211, 224);
          border-radius: 5px;
          padding: 35px;
          width: 500px;
          margin-left: auto;
          margin-right: auto;
        }

        img {
          width: 50px;
        }

        button {
          background-color: rgb(87, 91, 199);
          border: 1px solid rgb(87, 91, 199);
          color: white;
          padding: 10px;
          border-radius: 5px;
          font-weight: bold;
          margin-bottom: 15px;
          margin-top: 5px;
        }

        span{
          margin-top: 15px;
          color: grey;
        }

        a:hover{
          cursor: pointer;
        }

        button:hover {
          cursor: pointer;
        }

        p {
          color: grey;
        }
    </style>
</head>
<body class="body">
    <div class="card">

        <h2>Hello, {{ user.firstname }} {{ user.lastname }}</h2>
        
        <p>
          We received a request to reset your Seiri account password. 
          To ensure the security of your account, 
          please click on the link below to reset your password.
        </p>

        <a style="cursor: pointer;">
          <button style="cursor: pointer;">Reset Password</button>
        </a>

        <p>
          If you did not request a password reset, please ignore this email and your password will remain unchanged.</p>
        <hr>

        <span>Seiri</span>
    </div>
</body>
</html>